<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="font-size: 50px;"><%= title %></h1>
    <p style="font-size: 30px;">Welcome to <%= title %> !</p>
    <ul style="font-size: 20px;">
      <li>
        <a href="/products" >Products</a> / <a href="/products/onsale" >On Sale</a>
      </li>
      <li>
        <a href="/categories" >Categories</a>
      </li>
      <li>
        <a href="/users" >Users</a>
      </li>
    </ul>
  </body>
</html>
